

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
}

/* Navbar Styles */
.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(141, 92, 195);
}

.menu {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
    outline: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-link {
    text-decoration: none;
    color: rgb(141, 92, 195);
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-link.active {
    background-color: rgb(141, 92, 195);
    padding: 8px;
    color: white;
}

input[type="text"]:focus {
    outline: none;
    border-color: rgb(141, 92, 195);
    background-color: #fff;
}


/* Style for the dropdown menu container */
.nav-item {
    position: relative;
    display: inline-block;
  }
  
  /* Style for the profile icon link */
  .profile-icon {
    display: flex;
    align-items: center;
  }
  
  /* Style for the dropdown menu */
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 110px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;
    padding: 8px 0;
    
  }
  
  /* Style for each dropdown item */
  .dropdown-item {
    display: block;
    padding: 8px ;
    color: #333;
    text-decoration: none;
    font-size: 14px;
  }
  button#delete-profile {
    background-color: white;
    cursor: pointer;
    border: none;
  }
  .dropdown-item:hover {
    background-color: #f0f0f0;
    color: #000;
  }
  #delete-profile:hover {
    background-color: #f0f0f0;
    color: #000;
  }

  /* Show the dropdown menu when hovering over the profile icon */
  .nav-item:hover .dropdown-menu {
    display: block;
  }
/* Main Container */
.main-container {
    height: 600px;
    background-image: url('/uploads/couple-cafe.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slogan_container {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.matrimonial_slogan {
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    padding: 10px;
}

/* Users & Filters Container */
.users-container-main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Filter Container Styles */
.filter-container {
    /* background-color: #f9f9f9; */
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 25%;
    /* height: 706px; */
    margin-top: 42px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #333;
    /* color: rgb(141, 92, 195); */
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group h3 {
    font-size: 1.2em;
    
    color: rgb(141, 92, 195);
    margin-bottom: 10px;
}

.filter-group label, 
.filter-group select {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
}

.filter-group select, 
.filter-group input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.filter-group input[type="number"]:focus,
.filter-group select:focus {
    border-color: rgb(141, 92, 195);
}
.btn-primary , #reset-filters{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(141, 92, 195);
    color: white;
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #a15cb1;
}
button#reset-filters {
    margin-top: 10px;
    background-color: rgb(255, 138, 138);
}
button#reset-filters:hover{
    background-color: rgb(255, 82, 82);
}



/* User Section Styling */
.user-section {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* User Cards Grid */
.user-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user-card {
    background-color: white;
    width: calc(33.333% - 20px); /* Three cards per row */
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.user-card:hover {
    transform: translateY(-5px);
}

.profile-photo img {
    width: 258px;
    height: 174px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 15px;
}

.user-card #user-card-name {
    font-size: 18px;
    margin: 10px 0;
    font-family: 'Varela Round', sans-serif;
}

.user-card p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}
.user-card .user-fav-icon{
    margin-left: 250px;
    cursor: pointer;
    color: #666;
    font-size: 18px;
}
.user-card h5{
    color: rgb(141, 92, 195);
    font-size: 12px;
    cursor: pointer;
    /* margin: 0 10px; */
}



/* overlay styles */

.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000; 
}

.overlay-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    width: 700px; 
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    text-align: left;
    background: url('/uploads/blur-bg.jpg'); 
    background-size: cover;
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Profile Section */
.user-profile {
    display: flex;
    align-items: center;
}

.profile-image {
    margin-right: 20px;
}

.profile-image img {
    border-radius: 10px;
    width: 220px;
    height: 220px;
    object-fit: cover; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* User details section */
.user-details {
    color: white;
}


.user-card #user-card-name {
    font-size: 20px;
    margin: 10px 0;
    color: #000;
    font-family: 'Varela Round', sans-serif;
}

.user-details p.sub-details {
    font-size: 16px;
    margin: 5px 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}




/* Pagination Controls */
.pagination-controls {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 30px;
}
.pagination1 {
    top: 88rem;
    position: absolute;
    left: 44rem;
}
.btn-pagination {
    background-color: rgb(141, 92, 195);
    color: white;
    border: none;
    width: 100px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-pagination:hover {
    background-color: rgb(167, 117, 220);
}

.pagination-numbers {
    display: flex;
    gap: 10px;
}





/* Pagination Container */
.pagination {
    display: flex;
    padding: 30px;
    justify-content: center; 
    margin: 20px 0; 
}

/* Pagination List */
.pagination ul {
    list-style: none; 
    padding: 0; 
    display: flex; 
}

/* Pagination Item */
.pagination li {
    margin: 0 5px;
}

/* Pagination Links */
.pagination a {
    display: inline-block;
    padding: 10px 15px; 
    text-decoration: none;
    color: rgb(141, 92, 195); 
    border: 1px solid  rgb(141, 92, 195); 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}




#age-range-container {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

#min-age, #max-age {
    position: absolute;
    width: 100%;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
}

#min-age::-webkit-slider-runnable-track,
#max-age::-webkit-slider-runnable-track {
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    position: relative;
}

#min-age::-webkit-slider-thumb,
#max-age::-webkit-slider-thumb {
    pointer-events: auto;
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background:  rgb(141, 92, 195);
    cursor: pointer;
    margin-top: -6px; 
    position: relative;
    z-index: 2; 
}

#min-age::-moz-range-thumb,
#max-age::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background:  rgb(141, 92, 195);
    cursor: pointer;
}

#min-age::-moz-range-track,
#max-age::-moz-range-track {
    height: 8px;
    background: #ddd;
    border-radius: 5px;
}


#age-range-display {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;;
}

#min-age-display, #max-age-display {
    font-weight: bold;
}
.user-fav-icon .fa-heart{
    color: rgb(141, 92, 195); 
}


.filter-group input[type="checkbox"] {
    margin-right: 10px; 
}
