
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


 form {
        max-width: 800px;
        margin: 0 auto;
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns */
        gap: 20px;
    }

    /* Styling form labels and inputs */
    label {
        
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="date"],
    input[type="number"],
    select {
        width: 86%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    /* Styling for radio buttons */
    .gender-group {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    /* Input hover/focus effects */
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="tel"]:focus,
    input[type="radio"]:focus,
    input[type="number"]:focus,
    input[type="date"]:focus {
        outline: none;
        border-color: rgb(141, 92, 195); /* Customize the border color */
        background-color: #fff; /* Customize the background color */
    }

    /* Full-width for submit button */
    .register_button {
        grid-column: span 2; 
        padding: 10px;
        background-color:  rgb(141, 92, 195);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: rgb(203, 154, 255);
    }

    .error_messages{
        color: #dc2626;
        font-size: 0.75rem;
        display: block;
        margin-top: 0.25rem;
        height: 5px;
    }

    
    /* style for tooltip*/
    .password-tooltip {
        display: none;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 10px;
        width: 300px;
        position: absolute;
        top:160px;
        left: 75%;
        font-size: 14px;
        z-index: 1000;
    }
    
    .password-tooltip ul {
        list-style-type: none;
        padding: 0;
    }
    
    .password-tooltip li {
        margin: 5px 0;
        color: red;
    }
    
    .password-tooltip li.valid {
        color: green;
        font-weight: bold;
    }
    